html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: helvetica neue;
  background: #202020;
}

body {
  background: #202020;
  background: linear-gradient(to bottom, #202020 0%, #606060 50%, #606060 70%, #202020 100%);
}

.title {
  margin: 30px 0;
  font-family: helvetica neue;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: .2em;
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}

#hueWheel {
  margin: 40px 0;
}

#hueWheel_canvas {
  display: block;
  margin: 0 auto;
}

.buttonWrapper {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  color: #303030;
  background: #f2f2f2;
  box-shadow: #000 1px 1px 3px;
}

.button .label {
  pointer-events: none;
}

.button .label--on { display: inline; }
.button.is-active .label--on { display: none; }

.button .label--off { display: none; }
.button.is-active .label--off { display: inline; }
